.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl .backtotop {
  right: auto;
  left: 10px;
}
.rtl .backtotop i {
  margin: 8px 0 0;
}
.rtl .pull-right {
  float: left !important;
}
.rtl .pull-left {
  float: right !important;
}
.rtl [class^="icon-"],
.rtl [class*=" icon-"] {
  margin: 0 0 0 5px;
}
.rtl .icon-caret-right:before {
  content: "\f0d9";
}
.rtl .form-horizontal .control-label {
  text-align: right;
}
.rtl #system-message .error > ul {
  margin-right: 0;
  background-position: 99% center;
}
.rtl .search #searchForm .phrases-box .radio {
  margin-right: 20px;
  margin-left: 0px;
}
.rtl .label {
  margin-right: 0px;
  margin-left: 15px;
}
.rtl .jCarouselLite {
  direction: ltr;
}
.rtl code,
.rtl kbd,
.rtl pre,
.rtl samp {
  direction: rtl;
}
.rtl pre {
  border-left: none;
  border-right: solid 3px #41ade2;
  padding-right: 8px;
}
.rtl .yt-gallery ul li .item-gallery a h3.item-gallery-title {
  left: auto;
  right: -105%;
}
.rtl .yt-gallery ul li .item-gallery:hover a h3.item-gallery-title {
  right: 0px;
}
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6,
.rtl .h1,
.rtl .h2,
.rtl .h3,
.rtl .h4,
.rtl .h5,
.rtl .h6 {
  direction: ltr;
  text-align: right;
  position: relative;
  padding-bottom: 15px;
}
.rtl h1:after,
.rtl h2:after,
.rtl h3:after,
.rtl h4:after,
.rtl h5:after,
.rtl h6:after,
.rtl .h1:after,
.rtl .h2:after,
.rtl .h3:after,
.rtl .h4:after,
.rtl .h5:after,
.rtl .h6:after {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.rtl #yt_top #top2 .module {
  float: left;
}
.rtl .blog .items-row .item .item-image {
  margin: 0px 0px 0px 20px;
}
.rtl .blog .items-row .item.col-sm-6 .item-image,
.rtl .blog .items-row .item.col-sm-4 .item-image,
.rtl .blog .items-row .item.col-sm-3 .item-image {
  margin: 0px 0px 15px;
}
.rtl .blog .items-leading .item .item-image {
  margin: 0px 0px 0px 20px;
}
.rtl .tag-category ul.items-row .item .item-image {
  margin: 0px 0px 0px 20px;
}
.rtl .item-page ul.related-items li .related-item-date {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl .item-page ul.related-items li .img-fulltext {
  float: right;
  margin: 0px 0px 0px 20px;
}
.rtl .item-page .article-index {
  margin: 0px 20px 0px 0px;
}
.rtl .pagination ul li a .fa-long-arrow-right:before,
.rtl .pagination ul li span .fa-long-arrow-right:before {
  content: "\f177";
}
.rtl .about-content .title b {
  padding: 0 0 0 15px;
}
.rtl .about-content .wellcomeshop .image {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
}
.rtl .about-content .whychooseus ul li {
  padding-left: 0px;
  padding-right: 30px;
  background-position: right center;
}
.rtl .about-content .customersay .title {
  left: auto;
  right: 30px;
}
.rtl .customersay-content .yt-extra-carousel .carousel-control.right {
  left: 40px;
  right: auto;
}
.rtl .customersay-content .yt-extra-carousel .carousel-control.left {
  left: 75px;
  right: auto;
}
.rtl div.mod-login .modcontent ul.yt-loginform li a:before {
  left: auto;
  right: 0px;
}
.rtl .form-vertical {
  margin-right: 0px;
  margin-left: 10px;
}
.rtl ul.breadcrumb li.here {
  background-image: url("../images/styling/blue/rtl/bg_breadcrumb.png");
  margin-right: 0px;
  margin-left: 9px;
}
.rtl ul.breadcrumb li span.divider .fa-angle-right:before {
  content: "\f104";
}
.rtl .module h3.modtitle:after {
  left: auto;
  right: 0px;
}
.rtl .module.icon1 h3.modtitle:before,
.rtl .module.icon2 h3.modtitle:before {
  margin-left: 8px;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 0px;
  border-right: none;
  border-left: solid 2px #ccc;
  float: right;
  display: block;
}
.rtl .module.icon3 h3.modtitle:before,
.rtl .module.icon4 h3.modtitle:before {
  margin-left: 8px;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 0px;
  border-right: none;
  border-left: solid 2px ;
  float: right;
  display: block;
}
.rtl .module.badge_new h3.modtitle span.badge {
  float: left;
}
.rtl .module.badge_hot h3.modtitle span.badge {
  float: left;
}
.rtl .module.badge_sale h3.modtitle span.badge {
  float: left;
}
.rtl .module.badge_feature h3.modtitle span.badge {
  float: left;
}
.rtl div.setting h3.modtitle {
  padding: 11px 15px 11px 50px;
}
.rtl div.setting h3.modtitle:before {
  right: auto;
  left: 0px;
  border-left: none;
  border-right: solid 1px #dfdfdf;
}
.rtl div.setting .modcontent {
  left: 0px;
  right: auto;
}
.rtl div.bonus_menu .modcontent .bonus-menu ul.bmenu li {
  background-position: left center;
}
.rtl div.bonus_menu .modcontent .bonus-menu .b-label {
  padding-left: 0px;
  padding-right: 10px;
  background-image: url("../images/styling/blue/rtl/bg_breadcrumb.png");
}
.rtl div.introduction .icon {
  float: right;
  margin: 0 0 0 30px;
}
.rtl div.introduction .icon:after {
  border-color: transparent #41ade2 transparent transparent;
  right: auto;
  left: -16px;
}
.rtl div.happy-clients div.yt-extra-carousel.pull-none .carousel-inner .item .content .image {
  float: right;
  margin: 0 0 0 25px;
}
.rtl div.happy-clients div.yt-extra-carousel.pull-none .carousel-indicators {
  left: 0px;
  right: auto;
}
.rtl div.shop-info .info .label {
  text-align: right;
}
.rtl div.shop-info .socials a {
  margin-right: 0px;
  margin-left: 5px;
}
.rtl div.intro-bottom .icon {
  float: right;
  margin: 0 0 0 25px;
}
.rtl div.intro-bottom .icon:after {
  border-color: transparent #f7f7f7 transparent transparent;
  right: auto;
  left: -9px;
}
.rtl div.intro-bottom .shipping:hover .icon:after,
.rtl div.intro-bottom .credit:hover .icon:after,
.rtl div.intro-bottom .promotion:hover .icon:after,
.rtl div.intro-bottom .support:hover .icon:after {
  left: -16px;
  right: auto;
  border-color: transparent #41ade2 transparent transparent;
}
.rtl #yt_spotlight8 div.module .modcontent ul.menu li a:before {
  margin-right: -9px;
  margin-left: 5px;
  content: "\f104";
  float: right;
}
.rtl #yt_spotlight8 div.module .modcontent ul.menu li a:hover {
  padding-left: 0px;
  padding-right: 10px;
}
.rtl #yt_spotlight8 div.module .modcontent ul.menu li a:hover:after {
  margin-right: 0px;
}
.rtl #yt_spotlight8 div.module.payments a {
  margin: 0 0 0 10px;
}
.rtl div.col ul li a:before {
  margin-left: 5px;
  margin-right: -9px;
  content: "\f104";
  float: right;
}
.rtl div.col ul li a:hover {
  padding-left: 0px;
  padding-right: 10px;
}
.rtl div.col ul li a:hover:after {
  margin-right: 0px;
}
.rtl div.featured-products .container-slider {
  direction: ltr;
}
.rtl .tp-simpleresponsive .caption,
.rtl .tp-simpleresponsive .tp-caption {
  text-align: left;
}
.rtl div.shipping-blog .bs-items .bs-item .bs-image {
  padding: 0 0 0 15px;
  float: right;
}
.rtl div.shipping-blog .readmore {
  float: left;
}
.rtl div.contact-ajax .ctajax-wrap .ctajax-element {
  float: right;
}
.rtl div.contact-ajax .ctajax-wrap .ctajax-element.left .el-inner {
  padding: 0 0 0 15px;
}
.rtl div.contact-ajax .ctajax-wrap .ctajax-element.right .el-inner {
  padding: 0px 15px 0px 0px;
}
.rtl div.contact-ajax .ctajax-wrap .ctajax-element .el-inner .el-info-contact .cf {
  padding-left: 0px;
  padding-right: 55px;
}
.rtl div.contact-ajax .ctajax-wrap .ctajax-element .el-inner .el-info-contact .cf i {
  left: auto;
  right: 0px;
}
.rtl div.sj-sp-cat .spcat-wrap .category-wrap-cat .slider {
  direction: ltr;
}
.rtl .sj-sp-cat .spcat-tabs-container .spcat-tabs li {
  float: right;
}
.rtl .sj-sp-cat .spcat-items-container .spcat-items .spcat-item {
  float: right;
}
.rtl div.sj-sp-cat .spcat-wrap .category-wrap-cat .slider .cat_slider_inner .item:after {
  right: 0px;
  left: auto;
}
.rtl .sj-sp-cat .spcat-items .spcat-loadmore .spcat-loadmore-btn {
  background-position: left center;
}
